@tailwind base;
@tailwind components;
@tailwind utilities;

/* Comentado porque hacía conflicto con sb admin 2 */
/* body {
    font-family: "Encode Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    background: #54565a20;
} */

/*
Colores de fuentes oficiales
*/

.text-principal {
    color: #ab0033;
}

.text-secundario {
    color: #bc955c;
}

.bg-danger {
    background-color: #ab003380 !important;
}

canvas {
    width: 100% !important;
    height: 35vh !important;
}

#radarContainer,
#stackedContainer {
    background-color: #6c757d0f;
}

.bg-inst {
    background-color: #ab0033 !important;
}

.bg-inst2 {
    background-color: #ddc9a3 !important;
}

.bg-inst3 {
    background-color: #54565a !important;
}

.btn-inst {
    background-color: #ab0033 !important;
    border-color: #ab0033 !important;
    color: #fff !important;
}


.btn-inst:hover,
.btn-inst:active {
    background-color: #ab0033 !important;
    border-color: #ab0033 !important;
    color: #fff !important;
}

.btn-inst2 {
    background-color: #bc955c;
    border-color: #bc955c;
    color: #fff;
}

.btn-inst2:active,
.btn-inst2:hover {
    background-color: #bc955c !important;
    border-color: #bc955c !important;
    color: #fff !important;
}

.btn.show {
    background-color: #bc955c !important;
    border-color: #bc955c !important;
}

.dropdown-item:active {
    background-color: #54565a80 !important;
}

.btn-inst3 {
    background-color: #54565a;
    border-color: #54565a;
    color: #fff;
}

.btn-inst3:hover,
.btn-inst3:active {
    background-color: #54565a !important;
    border-color: #54565a !important;
    color: #fff !important;
}

.sidebar-container {
    position: relative;
    width: 300px;
    min-height: 100vh;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Aguila1.jpg/320px-Aguila1.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    background-color: #ab0033c4;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    background-color: #54565ae0;
}

/*
    Submenu
*/
.collapse {
    visibility: visible;
}

.form-check-input:checked {
    background-color: #28a745;
    /* Verde */
    border-color: #28a745;
    /* Bordes verdes */
}

/* Opcional: Añadir transición para un efecto más fluido */
.form-check-input {
    transition: background-color 2s, border-color 2s;
}

/*
  jQuery Validate error
  */

label.error {
    color: #c0392b;
}

.badge {
    font-size: 0.8rem;
}

.badge-success {
    background-color: #28a745;
}

.badge-error {

    background-color: #dc3545;
}

.badge-warning {

    background-color: #ffc107;
}

.badge-danger {
    background-color: #dc3545;
}

.js-set-formula {
    color: #54565a;
}

.js-search {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
}

.btnSecondaryOficial {
    background-color: #54565a;
    border-color: #54565a;
    color: #fff;
}

.welcome-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
}

.card {
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Sidebar */
#sidebar {
    width: 250px;
    height: 100vh;
    background: #343a40;
    color: white;
    transition: width 0.3s;
}

#sidebar.collapsed {
    width: 80px;
}

#sidebar a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
}

#sidebar a:hover {
    background: #495057;
}


/* SB ADMIN 2*/

#content-wrapper {
    background-color: #fff !important;
}

.side-menu {
    background-color: #ab0033 !important;
}

.topbar {
    height: 5rem !important;
}

.logoInst {
    height: 5rem !important;
}

.bg-institucional {
    background-color: #ab0033 !important;
    border: 1px solid #ab0033 !important;
}

.bgLogoInst {
    background-color: #fff !important;
}

.sidebar-brand {
    height: auto !important;
    font-weight: 500 !important;
    text-transform: none !important;
}

.card-body {
    padding: unset !important;
}

tbody {
    font-size: 15px !important;
}